h1 {
  color: yellow;
  text-align: center;
}

span {
  color: white;
}

p {
  color: white;
}
/*#canvas {
  background-color: #000;
  display: none;
  position: absolute;
  margin: auto;
  width: 60%;
  height: 80%;
  left: 20%;
  top: 10%;
  min-width: 400px;
  min-height: 300px;
}*/

body {
  background: url(../assets/images/outter-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
  position: absolute;
  background-color: #000;
  margin: auto;
  width: 630px;
  height: 600px;
  margin:auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.welcome-title {
  padding-top: 7vw;
  background-image: url(../assets/images/Space_invaders_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-middle {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.welcome-aliens {
  background: url(../assets/images/welcome-aliens.png);
  background-size: cover;
  height: 50px;
  width: 300px;
}

.welcome-middle span {
  padding-top: 60px;
  font-size: 2vw;
}

.welcome-footer{
  font-style: italic;
  padding-top: 110px;
}

.welcome-footer span {
  color: grey;
}
